:root {
  --primary-color: #6a0dad;
  --secondary-color: #f8f9fa;
  --highlight-color: #f0f8ff;
  --font-family: 'Calibri', 'Comic Sans MS', 'Arial', sans-serif;
}

body {
  font-family: var(--font-family);
  color: #333;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Yana kaydırmayı engeller */
}

header {
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 1.8em;
  color: #6a0dad; /* Mor renk */
}

header p {
  font-size: 1.2em;
  color: #333;
}

/* Hakkımda Bölümü */
#about {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa; /* Açık gri arka plan */
}

#about img {
  border-radius: 50%;
  border: 5px solid #6a0dad; /* Mor çerçeve */
  width: 150px;
  height: 150px;
}

#about p {
  margin-top: 20px;
  font-size: 1em;
  color: #333;
}

/* Form Bölümü */
#appointment {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* Beyaz arka plan */
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#appointment input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#appointment button {
  background-color: #6a0dad; /* Mor renk */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

#appointment button:hover {
  background-color: #5a0cad; /* Daha koyu mor */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer button {
  background-color: #25d366;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

footer button:hover {
  background-color: #20b358;
}
